.search {
  position: relative;

  .fa-search {
    position: absolute;
    top: 10px;
    left: 15px;
    color: $cl-green;
    font-size: 20px; // icon sizing
  }

  #search-input {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 8px $cl_gray_medium;
    height: 40px;
    width: calc(100% - 30px);
    outline: 0px none;
    padding: 3px 10px 0px 45px;
    transition: all 0.15s ease 0s;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 40px; // vertical positioning

    &::-webkit-input-placeholder {
      color: #bcbcbc;
    }

    &:focus {
      border-color: $cl_green;
    }

    @media (min-width: $screen-md) {
      width: 100%;
    }
  }
}

#sidebar li.search-wrap {
  margin-bottom: 0;

  @include at-query($min, $screen-md) {
    position: fixed;
    top: 50px;
    width: 235px;
    padding-top: 50px;
    padding-bottom: 0;
    background: #ffffff;
    z-index: 2;
  }
}

div.search-results {
  margin-top: 30px;
  > div {
    margin-bottom: 35px;
    > a {
      font-size: 20px;
    }
    > div {
      color: #999;
      font-size: 14px;
    }
    > p {
      margin: 0;
      > em {
        font-weight: bold;
        font-style: normal;
        opacity: 0.8;
      }
    }
  }
}